@import url('https://fonts.googleapis.com/css?family=Raleway:400,400i,700&display=swap');

body {
    font-family: 'Raleway', sans-serif;
    background-color: rgb(226, 226, 226);
    margin: 0;
}

#header {
    display: flex;
    position: fixed;
    justify-content: space-between;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgb(53, 53, 53);
}

#header #header-img {
    max-height: 100px;
    width: auto;
}

#header #nav-bar {
    align-self: flex-end;
    padding-bottom: 10px;
}

#header #nav-bar .nav-link {
    margin: 0 20px;
    color: white;
    text-decoration: none;
    font-size: 20px;
}

main {
    max-width: 950px;
    margin: 0 auto;
    padding-top: 120px;
}

main section {
    margin: 50px 0;
}

main h2 {
    text-align: center;
}

main #about-us p {
    font-size: 20px;
    text-align: center;
    line-height: 40px;
}

main #tours {
    margin: 25px 0;
}

main #tours .tours-examples {
    display: flex;
    justify-content: space-around;
}

main #tours .tours-examples .tour {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    margin: 20px;
    min-width: 280px;
    height: 300px;
    text-align: center;
    border: 1px solid black;
}

main #tours .tours-examples .tour h3 {
    height: 50px;
    margin-top: 0;
    line-height: 50px;
    background-color: rgb(192, 191, 191);
}

main #tours .tours-examples .tour span {
    font-weight: 700;
}

main #tours .tours-examples .tour .price {
    font-size: 25px;
    font-weight: 700;
}

main #tours .tours-examples .tour p {
    line-height: 30px;
}

main #tours .tours-examples .tour .btn {
    margin: 10px auto;
    height: 50px;
    width: 150px;
    font-size: 20px;
    background-color: rgba(65, 105, 225, 0.671);
    border: none;
    border-radius: 5px;
}

main #tours .tours-examples .tour .btn:hover {
    cursor: pointer;
    background-color: rgb(65, 105, 225);
}

main #video-section {
    display: flex;
    justify-content: center;
}

main #video-section #video {
    width: 682px;
    height: 384px;
}

#contacts .container {
    display: flex;
    justify-content: space-around;
}

#contacts #form #email {
    width: 300px;
    height: 25px;
    padding: 5px;
}

#contacts #form #submit {
    display: block;
    margin: 20px auto;
    height: 35px;
    width: 150px;
    font-size: 16px;
    background-color: rgba(65, 105, 225, 0.671);
    border: none;
    border-radius: 5px;
}

#contacts #form #submit:hover {
    cursor: pointer;
    background-color: rgb(65, 105, 225);
}

#contacts .contacts-cont {
    height: 35px;
    line-height: 35px;
    padding-left: 50px;
    margin: 15px 0;
}

#contacts .contacts-cont.address {
    background: url(../img/place.svg) no-repeat;
}

#contacts .contacts-cont.phone {
    background: url(../img/phone.svg) no-repeat;
}

#contacts .contacts-cont.email {
    background: url(../img/email.svg) no-repeat;
}

footer {
    height: 50px;
    color: white;
    background-color: rgb(53, 53, 53);
}

footer p {
    margin-right: 20px;
    font-size: 16px;
    line-height: 50px;
    text-align: end;
}

@media (max-width: 900px) {
    main #tours .tours-examples {
        flex-wrap: wrap;
    }
} 
